.about {
  background-color: var(--color-ivory);
  color: var(--color-dark);
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

@media (min-width: 1024px) {
  .about-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
  }
}

.about-text {
  flex: 1;
  max-width: 500px;
}

.about-heading {
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: 30px;
  color: var(--color-dark);
}

@media (min-width: 768px) {
  .about-heading {
    font-size: 4.5rem;
  }
}

.about-desc {
  font-size: 1.2rem;
  line-height: 1.7;
  color: var(--color-grey);
  font-weight: 300;
}

.about-image-wrapper {
  flex: 1;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
}

.about-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transform-origin: center;
}
